@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 46%;

  --border: 214 32% 91%;

  --accent: 220 90% 56%;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

::selection {
  background: rgba(0, 0, 0, 0.12);
}
